.container {
  background-color: #CDC1C5;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  text-align: center;
}

.apple_icon {
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: 40px;
}

.persons_name {
  text-align: center;
  font-size: 80px;
  font-family: 'Lato', sans-serif;
}

.brief_bio {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.timeline h2 {
  text-align: center;
}

.timeline {
  text-align: left;
  margin-top: 70px;
  display: inline-block;
  vertical-align: middle;
}

.container {
  text-align: center;
  
}

ul {
    list-style-position: inside;
}

.quote h3{
  text-align: center;
  margin-top: 70px;
  margin-right: 150px;
  margin-left: 150px;
  font-family: 'Lato', sans-serif;
}

.quote h5 {
  text-align: center;
}

.more_info {
  text-align: center;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}